.offerings-content {
  background: #273141;
  overflow: auto;
  min-height: 95vh;
}

.offerings-container{
  width: 65%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  padding-top: 5%;
}

.offerings-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  justify-content: center;
  font-weight: 500;
  flex-wrap: wrap;
  color: #EBEBEB;
}

.offering-text {
  display: inline-block;
  margin:  0 4px;
}

.offering-title-content {
  margin-top: 29px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offering-logo-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

}


.offering-card-content {
  margin-top: 29px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
 background: #333F52;
}

.offering-card {
  width: 603px;
  min-height: 308px;
  background: #333F52;
  float: left !important;
  border: none !important;
  overflow: hidden;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}

.react-multi-carousel-list, .offering-control {
  min-height: 300px;
}

.offering-key {
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #0C152C;
  color: #FFFFFF;

}

.offering-key:hover {
  cursor:pointer;
}

.react-multi-carousel-item {
  background: #0C152C;
  width: 202px;
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
 .offering-logo-container {
   display: none;
 }
}
.arrow{
  position: absolute;
}

hr{
      margin-top: 4rem;   
}

.offering-list-items{
  color: #FFFFFF;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
margin-bottom: 15px;
}

.offering-item{
  position: relative;
  left: -140px;
  margin-top: 24px;
}

.offering-card-title{
  margin-top: 42px;
  position: relative;
  left: -161px;
  color:#A3FA8D;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
}

.offering-card-btn{
  position:relative;
  left: -198px;
  border-radius: 5px;
  border: 2px solid #A3FA8D;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
background-color: #0C152C;
color: #A3FA8D;
width: 115px;
}

.carousel-container{
   width: 65%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  padding-top: 5%;
}