.offerings-content {
  background: #273141;
  overflow: hidden;
  min-height: 100vh;
}

.offerings-container{
  width: 65%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  margin-top: 13%;
}

.offerings-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  justify-content: center;
  font-weight: 500;
  flex-wrap: wrap;
  color: #EBEBEB;
}

.offering-text {
  display: inline-block;
  margin:  0 4px;
}

.offering-title-content {
  margin-top: 29px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offering-logo-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #ffffff;
  margin: 40px 0;
}


.offering-card-content {
  margin-top: 29px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
 background: #333F52;
}

.offering-card {
  width: 603px;
  min-height: 308px;
  background: #333F52;
  overflow: hidden;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}

.offering-key {
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #0C152C;
  color: #FFFFFF;
  border: 1px solid #62DB85;
  box-shadow: 0px 0px 4px rgba(248, 120, 93, 0.25) !important;
  border-radius: 5px;
  height: 100px;
}

.offering-key:hover {
  cursor:pointer;

}

@media only screen and (max-width: 670px) {
  .offering-key {
    height: 140px;
  }
}

@media (max-width: 464px) and (min-width: 463px) {
  .offering-key {
    height: 115px;
  }
}

@media only screen and (max-width: 463px) {
  .offering-key {
    height: 70px;
  }
}


.react-multi-carousels-item {
  background: #0C152C;
  width: 15% !important;
  margin: 20px !important;
}

@media only screen and (max-width: 700px) {
  .offering-logo-container{
    border: none !important;
  }
 .offering-logo-container {
   display: none !important;
 }
}
.arrow{
  position: absolute;
}

.offering-list-items{
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal; 
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

.offering-card{
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 45px; 
}

.offering-item{
  display: inline-block;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.offering-list-items {
  margin-top: 10px;
}
.offering-card-ul{
  margin: 0;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;  
}

.offering-card-title{
  margin-top: 25px;
  color:#A3FA8D;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-align: left;
}

.offering-card-text {
  height: 100px; /* Adjust this value as needed */
}

.offering-card-btn{
  border-radius: 5px;
  margin-top: 0px !important;
  border: 2px solid #A3FA8D;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  background-color: #0C152C;
  color: #A3FA8D;
  width: 115px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
}

@media (min-width: 900px) and (max-width: 1075px) {

  .offering-card-btn {
    margin-top: 25px !important;
  }

  .offering-logo-container{
    padding: 0 45px !important;
  }

  
}

@media (min-width: 700px) and (max-width: 899px) {
  .offering-logo-container{
    padding : 0 20px;
  }
  .offering-card{
    margin-left: 10px;
  }
}

@media ( min-width: 481px) and (max-width: 504px){

  .offering-card{
    margin-left: 23px;
  }
}

@media ( max-width: 480px ){
  .offering-card-title {
    margin-top: 0px !important;
  }

  .offering-card{
    margin: 0px!important;
  }

}

.carousels-container{
  width: 100%;
  padding: 35px 0;
}

.offering-control{
  position: relative;
}

.offering-border {
  position: absolute;
  height: 15%;
  left:-27px;
  right: -27px;
  bottom: -35px;
  border-left: 1px solid #4C5D78;
  border-right: 1px solid #4C5D78;
  border-bottom: 1px solid #4C5D78;
}

.card-m-15{
  margin: 0 15px;
}